<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Conference Room | Home </title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <link rel="stylesheet" media="screen and (max-width: 414px)" href="../styles/mobiles.css"/>
  </head>
  <body>

    <!-- [ PAGE CONTAINER ] -->
    <div id="grid">

      <!-- [ HEADER ] -->
      <div id="header">
        <div id="h_navBar">
          <div id="logo" class="float-left">
            <h1><a id="text_logo" href="index.php" >Conference Room</a></h1>
          </div>
          <div id="h_side-nav">
            <ul id="side-nav">
                <li><a class="active" >Home</a></li>
                <li><a class="btn-primary " href="signup.php#main_pane">Sign up</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- [ BANNER ] -->
      <div id="banner"></div>

<!-- [ MAIN CONTENT ] -->
      <div id="section">
        <div id="main_pane">
          <div id="mp_titel" class="text-center">
            <h2>Availabilities</h2>
          </div>
          <div id="date_picker" class="text-center">
            <span id="dp_date">
              <span id="day"></span> <span id="month">Jan</span>. <span id="date">20</span><sup id="ordinal">th</sup> <span id="year">2020</span>
            </span>
          </div>
          <div id="swiper">
	    <div id="booking_panorama" class="search">
              <div class="card room">
                <div >
                  <img alt="conference room bright" class="img-small" src=""/>
                  <a href="#"></a>
                </div>
                <p class="room_description"></p>
                <p class="booking_details">
                <h4></h4>
								<span>Date:  </span><br/>
								<span>Time:  </span>
                </p>
                <p><span  class=""> ()</span><br /></p>
              </div>
	    </div>
            <div class="search">
              <div class="search_flex">
                <label for="ip_search" class="search_label"> Room: </label>
                <select id="ip_search" name="rooms">
                  <option value=""> room # </option>
                  <option value=""></option>
                </select>
              </div>
              <div class="search_flex">
                <label for="booking_date" class="search_label"> Date: </label>
                <input type="date" id="booking_date" name="reserv-start" value="" min="1999-01-01" max="2999-12-31" class="form-date"/>
              </div>
              <div class="search_flex">
                <label for="booking_date" class="search_label"> from: </label>
                <input type="time" id="start_time" name="time-start" value="06:00" min="06:00" max="22:00" step="1800" class="form-date"/>
              </div>
              <div class="search_flex">
                <label for="booking_date" class="search_label"> to: </label>
                <input type="time" id="end_time" name="time-end" value="22:00" min="06:00" max="22:00" step="1800" class="form-date"/>
              </div>
              <div>
                <input type="submit" value="&#x1F50D;" class="circled-button"/>
              </div>
            </div>
	        <div id="php_testPane">
            </div>
        </div>
      </div>

   <!-- [ LOGIN ] -->
      <div id="login_main">
        <div id="login" >
          <div id="err_mod_main" class="invisible modal-danger">
            <span class="label_required danger">Email or password is wrong!</span>
          </div>
          <form class="form-validate" method="post" action="index.php">
                  <label for="loginEmail" class=""> Email Address</label>
                  <input name="loginEmail" id="loginEmail" type="email" placeholder="name@address.com" data-msg="Please enter your email" class="form-control"/>
                  <label for="loginPassword" class=""> Password</label>
                  <input name="loginPassword" id="loginPassword" placeholder="Enter your password" type="password" data-msg="Please enter your password" class="form-control"/>
              <button type="submit" class="btn-primary medium btn-submit">
                Sign in</button>
              <span id="para_account" >
                or <a href="signup.php">create a new account</a>
              </span>
          </form>
        </div>
    </div>
    <!-- [ FOOTER ] -->
      <div id="footer">
        <div id="f_wrapper">
          <div id="f_map" class="f_box">
            <h3>Location</h3><br/>
            <div id="googleMap"></div>
          </div>
          <div id="f_cont" class="f_box">
            <h3>Contact</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliquyam erat, sed diam voluptua.</p>
          </div>
          <div id="f_impr" class="f_box">
            <h3>Impresum</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div>
      </div>
    </div>
      <script src="../scripts/signin_validation.js"></script>

      <script src="../scripts/mobiles.js"></script>
    <script src="../scripts/date_actualizator.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2oNtRhnfGNgG_yQUNmBNa1kXJnNkzzp4&callback=myMap"></script>

