/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require welcome
*/
$enable-responsive-font-sizes: true;
/* RGB */
$cultured: rgba(240, 247, 244, 1);
$fire_opal: rgba(239, 100, 97, 1);
$minion_yellow: rgba(255, 231, 76, 1);
$forest_green: rgba(36, 130, 50, 1);
$amazon: rgba(85, 133, 100, 1);
$dark_liver: rgba(86, 73, 70, 1);
$jet: rgba(49, 47, 47, 1);

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.card-img-overlay-bottom {

    position: absolute;
    right: 1.25rem;
    bottom: 1.0rem;
    left: 1.25rem;

}

// Custom bootstrap variables must be set or imported *before* bootstrap.
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
    
@import "bootstrap";
