// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* HSL */
$cultured: hsla(154%, 3%, 97%, 1);
$fire_opal: hsla(1%, 59%, 94%, 1);
$minion_yellow: hsla(52%, 70%, 100%, 1);
$forest_green: hsla(129%, 72%, 51%, 1);
$amazon: hsla(139%, 36%, 52%, 1);
$dark_liver: hsla(11%, 19%, 34%, 1);
$jet: hsla(0%, 4%, 19%, 1);

/* RGB */
$white: rgba(255, 255, 255, 1);
$cultured: rgba(240, 247, 244, 1);
$fire_opal: rgba(239, 100, 97, 1);
$minion_yellow: rgba(255, 231, 76, 1);
$forest_green: rgba(36, 130, 50, 1);
$amazon: rgba(85, 133, 100, 1);
$dark_liver: rgba(86, 73, 70, 1);
$jet: rgba(49, 47, 47, 1);

/* HEX */
$white: #ffffff;
$cultured: #f0f7f4ff;
$fire_opal: #ef6461ff;
$minion_yellow: #ffe74cff;
$forest_green: #248232ff;
$amazon: #558564ff;
$dark_liver: #564946ff;
$jet: #312f2fff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);
$gradient-right: linear-gradient(90deg, #f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);
$gradient-bottom: linear-gradient(180deg, #f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);
$gradient-left: linear-gradient(270deg, #f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);
$gradient-top-right: linear-gradient(45deg, #f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);
$gradient-bottom-right: linear-gradient(135deg, #f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);
$gradient-top-left: linear-gradient(225deg, #f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);
$gradient-bottom-left: linear-gradient(315deg, #f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);
$gradient-radial: radial-gradient(#f0f7f4ff, #ef6461ff, #ffe74cff, #248232ff, #558564ff, #564946ff, #312f2fff);


.dark-gradient {
    background-attachment: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 255, .9));
}

.search-bar {
   border-radius: 10rem;
   background: $white;
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 991.98px) {
    .search-bar {
        border-radius: 20px
    }

    .search-bar .form-group {
        margin-bottom: 1rem
    }

    .search-bar .form-group::after {
        display: block;
        width: calc(100% - 4rem);
        height: 1px;
        content: '';
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #dee2e6;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%
    }

    .search-bar .form-control {
        height: calc(1.6em + .75rem + 2px);
        padding: 10px 20px
    }

    .search-bar .input-label-absolute-right .label-absolute {
        right: 1rem
    }

    .search-bar .bootstrap-select {
        display: block !important;
        width: 100% !important;
        padding: 0
    }

    .search-bar .bootstrap-select button {
        display: block;
        width: 100% !important;
        padding: 10px 20px
    }
}