<div id="header">
    <div id="h_navBar">
        <div id="logo" class=" float-left">
            <h1>Conference Room</h1>
        </div>
        <div id="h_side-nav">
            <ul id="side-nav">
                <li><%= link_to("Home", root_path)%></li>
                <li><%= link_to("Dashboard", root_path)%></li>
                <li><%= link_to("Signout", root_path)%></li>
            </ul>
        </div>
    </div>
</div> <!-- end of header -->